doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Cache-Control' content='no-cache')
      meta(http-equiv='Expires' content='0')
      title This is Title for AR test
      meta(name='description' content='This is AR for BOW MARKET TEST')
      // materialアイコン
      link(href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
      // ar.js用ファイル
      script(src='https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js')
      script(src='https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js')
      // クリック用
      script(src='https://rawgit.com/nicolocarpignoli/nicolocarpignoli.github.io/master/ar-click-events/events.js')
      // particle用
      script(src='https://unpkg.com/aframe-particle-system-component@1.0.x/dist/aframe-particle-system-component.min.js')
      script.
         AFRAME.registerComponent("registerevents", {
         init: function () {
         var marker = this.el;
         var loader = document.getElementById("loader");
         var btn_group = document.getElementById("btn-group");
         
         // マーカーを検出したイベントの登録
         marker.addEventListener("markerFound", function () {
         var markerId = marker.id;
         //- audio.play(); // 音声再生
         //animation start方法 https://qiita.com/1pp0/items/059d5e5936ca5196f7e4
         loader.style.display = "none";
         btn_group.style.display = "block";
         });
         
         // マーカーを見失ったイベントの登録
         marker.addEventListener("markerLost", function () {
         var markerId = marker.id;
         //- audio.pause(); // 音声停止
         loader.style.display = "flex";
         btn_group.style.display = "none";
         });
         },
         });
   body
      #loader
         .loader-wrapper
            img.target-img(src='https://genkasaneiwa.github.io/ar-js/somernova/img/marker/marker01.jpg' alt='marker')
            p.loader-para
               | Please hold the camera up
               br
               | so that the image overlaps the
               | marker.
         p.info-para
            | Somernova Project by Mieko Murao
            br
            a.info-link(href='https://miekomurao.com/' target='_blank') Portfolio
            |  | 
            a.info-link(href='https://www.instagram.com/mieko.murao/' target='_blank') Instagram
      a-scene(vr-mode-ui='enabled: false;' renderer='logarithmicDepthBuffer: true;' embedded arjs='trackingMethod: best; sourceType: webcam;debugUIEnabled: false;')
         //- マーカー指定部分 絶対パスでないといけないので注意。https://carnaux.github.io/NFT-Marker-Creator/ で取ってきたファイルの先頭の名前のみ表記する この子要素に表示オブジェクト入れていく 1000pxじゃないとオブジェクトの座標ずれるので注意
         a-nft(type='nft' url='https://genkasaneiwa.github.io/ar-js/somernova/img/marker/marker01' smooth='true' smoothCount='10' smoothTolerance='.01' smoothThreshold='5' registerevents)
            //- objファイル 3d
               <a-entity
               obj-model="obj: url(https://genkasaneiwa.github.io/test/ar1/img/head3d.obj);
               mtl: url(https://genkasaneiwa.github.io/test/ar1/img/head3d.obj.mtl)"
               position="145 -10 -200"
               rotation="270 0 0"
               ></a-entity>
            //- particle
               <a-entity position="145 -10 -200" particle-system="
               texture: url(https://genkasaneiwa.github.io/test/ar1/img/star.png);
               color: #FF0000, #FFFF00;
               size: 1, 0;
               velocityValue: 0.001 0.001 0.001;
               velocitySpread: 0.5 0 0.5;
               accelerationValue: 0.001 0.001 0.001;
               accelerationSpread: 0.001 0.001 0.001;
               rotationAngle: 0;
               blending: 1;
               particleCount: 200;
               maxAge: 5; ">
               </a-entity>
            //- 画像
               <a-link href="https://www.bowmarketsomerville.com/" title="My Homepage">
               </a-link>
            //-    x +にすると右による   y +にすると近づく？ 近づいた方が横にズレにくいっぽい？ z -にすると上に上がる 
            //- a-image(src='https://genkasaneiwa.github.io/ar-js/somernova/img/target01/target01.jpg' width='150' height='240' scale='1 1 1' position='40 -50 -90' rotation='270 0 0')
            a-image(src='https://genkasaneiwa.github.io/ar-js/somernova/img/target01/target01.jpg' width='135' height='200' scale='1 1 1' position='80 100 -191' rotation='270 0 0')
            a-text#text(position='145 -10 -200' rotation='270 0 0' value='' color='white' width='700' align='center')
            //- <a-box position="145 -10 -200" wireframe="true" link="href: https://qiita.com/nonkapibara; title: bowmarket; image: #heart"></a-box>
         a-entity(camera)
      //- audio#audio.audio(src='https://genkasaneiwa.github.io/test/ar1/mp3/sample1.mp3' autoplay='autoplay')
      //- button#share Share
      //- a#bow-link(href='https://www.bowmarketsomerville.com/' target='_blank')
      //-    img(src='./img/bow-market-ico.svg')
      .ui#btn-group
         img#snap
         a#delete-photo.disabled(href='#' title='Delete Photo')
            i.material-icons delete
         a#take-photo(href='' title='Take Photo')
            i.material-icons photo_camera
         //- a#download-photo.disabled(href='#' download='selfie.png' title='Save Photo' target='_blank')
         //-    i.material-icons file_download
      p#test Tap to Save
      style.
         body {
         font-family: helvetica, arial, sans-serif;
         margin: 0;
         overflow: hidden;
         width: 100%;
         height: 100vh;
         }

         #loader {
         height: 100%;
         width: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-color: rgba(0, 0, 0, 0.5);
         z-index: 5000;
         display: flex;
         justify-content: center;
         align-items: center;
         }
         
         .target-img {
         width: 90%;
         max-width: 350px;
         display: block;
         margin: 0 auto 50px auto;
         opacity: 0.5;
         }
         
         .loader-para {
         text-align: center;
         font-size: 15px;
         color: white;
         }
         
         .info-para {
         text-align: center;
         font-size: 15px;
         color: white;
         position: absolute;
         bottom: 10px;
         left: 0;
         right: 0;
         margin: auto;
         }
         
         .info-link {
         color: white;
         }
         
         #share {
         display: none;
         position: absolute;
         bottom: 40px;
         right: 20px;
         color: #333;
         font-size: 13px;
         z-index: 1;
         }
         
         #share::after {
         content: "";
         position: absolute;
         width: 80px;
         height: 80px;
         border-radius: 100%;
         background: #fff;
         z-index: -1;
         top: 50%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         }
         
         #bow-link {
         display: none;
         position: absolute;
         width: 80px;
         height: 80px;
         bottom: 15px;
         right: 110px;
         }
         
         #bow-link img {
         width: 100%;
         }

         .ui {
         position: absolute;
         z-index: 100;
         bottom: 0;
         left: 0;
         width: 100%;
         height: auto;
         margin: 0;
         padding: 10px 15px 30px;
         text-align: center;
         box-sizing: border-box;
         display: none;
         z-index:9999;
         }

        .ui a {
            display: inline-block;
            width: 60px;
            height: 60px;
            background-color: #ffffff;
            line-height: 100%;
            color: #303030;
            margin: 10px;
            border-radius: 50%;
            position: relative;

        }
        .ui a i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .ui a:active {
            color: #ff0000;
        }

        #snap {
            max-width: 100%;
            height: auto;
            display: block;;
            visibility: hidden;
        }
        .ui a.disabled {
            pointer-events: none;
            color: #cccccc;
        }
        #snap.visible {
            visibility: visible;
        }

        .is_show {
           display: block!important;
        }

        .is_hidden {
           display: none!important;
        }

        #text {
           font-size: 13px;
           padding: 1rem 2rem;
           border-radius: 50px;
           color: #fff;
           border: 1px solid #fff;
           display: block;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translateY(-50%) translateX(-50%);
           z-index: 9999;
           display: none;
        }
      script.
         //date 取得
         //- var d = new Date();
         //- var weekday = new Array(7);
         //- weekday[0] = "Sun";
         //- weekday[1] = "Mon";
         //- weekday[2] = "Tue";
         //- weekday[3] = "Wed";
         //- weekday[4] = "Thu";
         //- weekday[5] = "Fri";
         //- weekday[6] = "Sat";
         
         //- var day = weekday[d.getDay()];
         
         //- var target_url = document.getElementById("audio");
         //- var target_value = document.getElementById("text");
         
         //- if (day == "Sun") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample1.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketSun"
         //- );
         //- } else if (day == "Mon") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample2.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketMon"
         //- );
         //- } else if (day == "Tue") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample3.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketTue"
         //- );
         //- } else if (day == "Wed") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample1.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketWed"
         //- );
         //- } else if (day == "Thu") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample2.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketThu"
         //- );
         //- } else if (day == "Fri") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample3.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketFri"
         //- );
         //- } else if (day == "Sat") {
         //- target_url.src =
         //- "https://genkasaneiwa.github.io/test/ar1/mp3/sample2.mp3";
         //- target_value.setAttribute(
         //- "value",
         //- "This Week KeyWord is\n#BowMarketSat"
         //- );
         //- }
         
         //Web Share API
         //クリックで動作するボタン
         //- var shareButton = document.getElementById("share");
         //- var linkButton = document.getElementById("bow-link");
         //- //ボタンクリックで実行
         //- shareButton.addEventListener("click", share);
         
         //- function share() {
         //- //web share apiをサポートしているか否か
         //- if (navigator.share) {
         //- navigator.share({
         //- title: document.querySelector("title").textContent,
         //- text: document
         //- .querySelector('meta[name="description"]')
         //- .getAttribute("content"),
         //- url: location.href,
         //- });
         //- }
         //- //サポートしていない場合の処理
         //- else {
         //- alert("This browser does not support the share function.");
         //- }
         //- }
         
         //safariのaudio/videoミュート対策
         //- var audio = document.querySelector("#audio");
         //- var button = document.querySelector("#close");
         
         //- button.addEventListener("touchstart", () => {
         //- audio.muted = true; // ミュート有効
         //- audio.play(); // 動画再生
         //- audio.pause(); // 動画停止
         //- audio.muted = false; // ミュート無効
         //- audio.currentTime = 0; // 開始秒数を戻す
         //- });


         var image = document.querySelector('#snap');
         var take_photo_btn = document.querySelector('#take-photo');
         var delete_photo_btn = document.querySelector('#delete-photo');
         var text = document.querySelector('#text');
         //- var download_photo_btn = document.querySelector('#download-photo');

         var is_show = document.querySelector("is_show");
         var is_hidden = document.querySelector("is_hidden");
         var target1 = document.getElementById("btn-group");
         var target2 = document.getElementById("loader");

         //スナップショットボタン
         take_photo_btn.addEventListener("click", function (e) {
            e.preventDefault();
            var video = document.querySelector('video');
            var snap = takeSnapshot(video);

            //スナップショット表示.
            image.setAttribute('src', snap);
            image.classList.add('visible');
            text.classList.add('is_show');

            // 削除ボタンと保存ボタン有効
            delete_photo_btn.classList.remove("disabled");
            //- download_photo_btn.classList.remove("disabled");

            // 保存ボタンにスナップショットを渡す
            //- download_photo_btn.href = snap;

            // スナップショットが隠れないように表示を保持
            target1.classList.add('is_show');
            target2.classList.add('is_hidden');
            
         });

         //削除ボタン
         delete_photo_btn.addEventListener("click", function(e){

            e.preventDefault();

            // スナップショットを隠す
            image.setAttribute('src', "");
            image.classList.remove("visible");
            text.classList.remove('is_show');

            // 削除ボタンと保存ボタン無効
            delete_photo_btn.classList.add("disabled");
            //- download_photo_btn.classList.add("disabled");

            // スナップショットが隠す
            target1.classList.remove('is_show');
            target2.classList.remove('is_hidden');

         });

         //スナップショットを撮る
         function takeSnapshot(video) {
            var resizedCanvas = document.createElement("canvas");
            var resizedContext = resizedCanvas.getContext("2d");
            var width = video.videoWidth;
            var height = video.videoHeight;
            var aScene = document.querySelector("a-scene").components.screenshot.getCanvas("perspective");

            if (width && height) {
                  //videoのサイズをキャンバスにセット
                  resizedCanvas.width = width;
                  resizedCanvas.height = height;
                  //キャンバスにvideoをコピー
                  resizedContext.drawImage(video, 0, 0, width, height);

                  //カメラの画角でar側の縮小処理を変える
                  if (width > height) {
                     // 横長（PC)
                     resizedContext.drawImage(aScene, 0, 0, width, height);
                  } else {
                     // 縦長（スマホ）
                     var scale = height / width;
                     var scaledWidth = height * scale;
                     var marginLeft = (width - scaledWidth) / 2;
                     resizedContext.drawImage(aScene, marginLeft, 0, scaledWidth, height);
                  }
                  return resizedCanvas.toDataURL('image/png');
            }
         }

         //-->